<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>&kappa; - @ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/bundles/tessellate-css")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/tessellate-js")
    @RenderSection("Scripts", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
